In [ ]:
# from api_helper import ShoonyaApiPy
import logging
import time
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-darkgrid')

In [ ]:
lst = [2,5,9,8,7,9,2,6,4,]

In [ ]:
lst[:-3]

In [ ]:
# l1 = pd.read_csv('ltp1.csv')
# l11 = pd.read_csv('ltp11.csv')
# ll1 = pd.concat([l1,l11], axis = 0)
# ll1.reset_index(inplace=True)
# ll1.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll1.to_csv('ltp1.csv')

# l2 = pd.read_csv('ltp2.csv')
# l22 = pd.read_csv('ltp22.csv')
# ll2 = pd.concat([l2,l22], axis = 0)
# ll2.reset_index(inplace=True)
# ll2.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll2.to_csv('ltp2.csv')

# l3 = pd.read_csv('ltp3.csv')
# l33 = pd.read_csv('ltp33.csv')
# ll3 = pd.concat([l3,l33], axis = 0)
# ll3.reset_index(inplace=True)
# ll3.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll3.to_csv('ltp3.csv')

# l4 = pd.read_csv('ltp4.csv')
# l44 = pd.read_csv('ltp44.csv')
# ll4 = pd.concat([l4,l44], axis = 0)
# ll4.reset_index(inplace=True)
# ll4.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll4.to_csv('ltp4.csv')

# l4= pd.read_csv('ltp4.csv')
# l44 = pd.read_csv('ltp44.csv')
# ll4 = pd.concat([l4,l4], axis = 0)
# ll4.reset_index(inplace=True)
# ll4.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll4.to_csv('ltp4.csv')

# l5= pd.read_csv('ltp5.csv')
# l55 = pd.read_csv('ltp55.csv')
# ll5 = pd.concat([l5,l55], axis = 0)
# ll5.reset_index(inplace=True)
# ll5.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll5.to_csv('ltp5.csv')

# l6= pd.read_csv('ltp6.csv')
# l66 = pd.read_csv('ltp66.csv')
# ll6 = pd.concat([l6,l6], axis = 0)
# ll6.reset_index(inplace=True)
# ll6.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll6.to_csv('ltp6.csv')


# l7= pd.read_csv('ltp7.csv')
# l77 = pd.read_csv('ltp77.csv')
# ll7 = pd.concat([l7,l77], axis = 0)
# ll7.reset_index(inplace=True)
# ll7.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll7.to_csv('ltp7.csv')

# l8= pd.read_csv('ltp8.csv')
# l88 = pd.read_csv('ltp88.csv')
# ll8 = pd.concat([l8,l88], axis = 0)
# ll8.reset_index(inplace=True)
# ll8.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll8.to_csv('ltp8.csv')

# l9= pd.read_csv('ltp9.csv')
# l99 = pd.read_csv('ltp99.csv')
# ll9 = pd.concat([l9,l99], axis = 0)
# ll9.reset_index(inplace=True)
# ll9.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll9.to_csv('ltp9.csv')

# l10= pd.read_csv('ltp10.csv')
# l1010 = pd.read_csv('ltp1010.csv')
# ll10 = pd.concat([l10,l1010], axis = 0)
# ll10.reset_index(inplace=True)
# ll10.drop(['index','Unnamed: 0'], axis = 1, inplace = True)
# ll10.to_csv('ltp10.csv')

In [ ]:
ltp1 = pd.read_csv('ltp1.csv')
ltp1.drop('Unnamed: 0', axis = 1,inplace=True)
ltp1.reset_index(inplace = True)
ltp1.drop(['index'], inplace = True, axis = 1)


ltp1_1 = pd.DataFrame(ltp1['ltp_now'])
ltp1_1.drop([0,1,2], axis = 0, inplace=True)
ltp1_1.reset_index(inplace = True)
ltp1_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp1_1.drop(['index'], axis = 1,inplace=True)

ltp1_2 = pd.DataFrame(ltp1['ltp_now'])
ltp1_2.drop([0,1], axis = 0, inplace=True)
ltp1_2.reset_index(inplace = True)
ltp1_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp1_2.drop(['index'], axis = 1,inplace=True)

ltp1_3 = pd.DataFrame(ltp1['ltp_now'])
ltp1_3.drop([0], axis = 0, inplace=True)
ltp1_3.reset_index(inplace = True)
ltp1_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp1_3.drop(['index'], axis = 1,inplace=True)

ltp1_4 = pd.DataFrame(ltp1['ltp_now'])
ltp1_4.reset_index(inplace = True)
ltp1_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp1_4.drop(['index'], axis = 1,inplace=True)

ltp_pre = pd.DataFrame(ltp1['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp1.drop([0,1,2,3], axis = 0, inplace=True)
ltp1.reset_index(inplace = True)
ltp1.drop(['index'], axis = 1,inplace=True)


df1 = pd.concat([ltp1_4,ltp1_3,ltp1_2,ltp1_1, ltp1,ltp_pre ], axis = 1)
df1.dropna(inplace=True)

In [ ]:
df1

In [ ]:
ltp2 = pd.read_csv('ltp2.csv')
ltp2.drop('Unnamed: 0', axis = 1,inplace=True)
ltp2.reset_index(inplace = True)
ltp2.drop(['index'], inplace = True, axis = 1)


ltp2_1 = pd.DataFrame(ltp2['ltp_now'])
ltp2_1.drop([0,1,2], axis = 0, inplace=True)
ltp2_1.reset_index(inplace = True)
ltp2_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp2_1.drop(['index'], axis = 1,inplace=True)

ltp2_2 = pd.DataFrame(ltp2['ltp_now'])
ltp2_2.drop([0,1], axis = 0, inplace=True)
ltp2_2.reset_index(inplace = True)
ltp2_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp2_2.drop(['index'], axis = 1,inplace=True)

ltp2_3 = pd.DataFrame(ltp2['ltp_now'])
ltp2_3.drop([0], axis = 0, inplace=True)
ltp2_3.reset_index(inplace = True)
ltp2_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp2_3.drop(['index'], axis = 1,inplace=True)

ltp2_4 = pd.DataFrame(ltp2['ltp_now'])
ltp2_4.reset_index(inplace = True)
ltp2_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp2_4.drop(['index'], axis = 1,inplace=True)

ltp_pre = pd.DataFrame(ltp2['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp2.drop([0,1,2,3], axis = 0, inplace=True)
ltp2.reset_index(inplace = True)
ltp2.drop(['index'], axis = 1,inplace=True)

df2 = pd.concat([ltp2_4,ltp2_3,ltp2_2,ltp2_1, ltp2,ltp_pre], axis = 1)
df2.dropna(inplace=True)

In [ ]:
ltp3 = pd.read_csv('ltp3.csv')
ltp3.drop('Unnamed: 0', axis = 1,inplace=True)
ltp3.reset_index(inplace = True)
ltp3.drop(['index'], inplace = True, axis = 1)


ltp3_1 = pd.DataFrame(ltp3['ltp_now'])
ltp3_1.drop([0,1,2], axis = 0, inplace=True)
ltp3_1.reset_index(inplace = True)
ltp3_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp3_1.drop(['index'], axis = 1,inplace=True)

ltp3_2 = pd.DataFrame(ltp3['ltp_now'])
ltp3_2.drop([0,1], axis = 0, inplace=True)
ltp3_2.reset_index(inplace = True)
ltp3_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp3_2.drop(['index'], axis = 1,inplace=True)

ltp3_3 = pd.DataFrame(ltp3['ltp_now'])
ltp3_3.drop([0], axis = 0, inplace=True)
ltp3_3.reset_index(inplace = True)
ltp3_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp3_3.drop(['index'], axis = 1,inplace=True)

ltp3_4 = pd.DataFrame(ltp3['ltp_now'])
ltp3_4.reset_index(inplace = True)
ltp3_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp3_4.drop(['index'], axis = 1,inplace=True)

ltp_pre = pd.DataFrame(ltp3['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp3.drop([0,1,2,3], axis = 0, inplace=True)
ltp3.reset_index(inplace = True)
ltp3.drop(['index'], axis = 1,inplace=True)

df3 = pd.concat([ltp3_4,ltp3_3,ltp3_2,ltp3_1, ltp3,ltp_pre], axis = 1)
df3.dropna(inplace=True)

In [ ]:
ltp4 = pd.read_csv('ltp4.csv')
ltp4.drop('Unnamed: 0', axis = 1,inplace=True)
ltp4.reset_index(inplace = True)
ltp4.drop(['index'], inplace = True, axis = 1)


ltp4_1 = pd.DataFrame(ltp4['ltp_now'])
ltp4_1.drop([0,1,2], axis = 0, inplace=True)
ltp4_1.reset_index(inplace = True)
ltp4_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp4_1.drop(['index'], axis = 1,inplace=True)

ltp4_2 = pd.DataFrame(ltp4['ltp_now'])
ltp4_2.drop([0,1], axis = 0, inplace=True)
ltp4_2.reset_index(inplace = True)
ltp4_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp4_2.drop(['index'], axis = 1,inplace=True)

ltp4_3 = pd.DataFrame(ltp4['ltp_now'])
ltp4_3.drop([0], axis = 0, inplace=True)
ltp4_3.reset_index(inplace = True)
ltp4_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp4_3.drop(['index'], axis = 1,inplace=True)

ltp4_4 = pd.DataFrame(ltp4['ltp_now'])
ltp4_4.reset_index(inplace = True)
ltp4_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp4_4.drop(['index'], axis = 1,inplace=True)

ltp_pre = pd.DataFrame(ltp4['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp4.drop([0,1,2,3], axis = 0, inplace=True)
ltp4.reset_index(inplace = True)
ltp4.drop(['index'], axis = 1,inplace=True)

df4 = pd.concat([ltp4_4,ltp4_3,ltp4_2,ltp4_1, ltp4, ltp_pre], axis = 1)
df4.dropna(inplace=True)

In [ ]:
ltp5 = pd.read_csv('ltp5.csv')
ltp5.drop('Unnamed: 0', axis = 1,inplace=True)
ltp5.reset_index(inplace = True)
ltp5.drop(['index'], inplace = True, axis = 1)


ltp5_1 = pd.DataFrame(ltp5['ltp_now'])
ltp5_1.drop([0,1,2], axis = 0, inplace=True)
ltp5_1.reset_index(inplace = True)
ltp5_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp5_1.drop(['index'], axis = 1,inplace=True)

ltp5_2 = pd.DataFrame(ltp5['ltp_now'])
ltp5_2.drop([0,1], axis = 0, inplace=True)
ltp5_2.reset_index(inplace = True)
ltp5_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp5_2.drop(['index'], axis = 1,inplace=True)

ltp5_3 = pd.DataFrame(ltp5['ltp_now'])
ltp5_3.drop([0], axis = 0, inplace=True)
ltp5_3.reset_index(inplace = True)
ltp5_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp5_3.drop(['index'], axis = 1,inplace=True)

ltp5_4 = pd.DataFrame(ltp5['ltp_now'])
ltp5_4.reset_index(inplace = True)
ltp5_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp5_4.drop(['index'], axis = 1,inplace=True)

ltp_pre = pd.DataFrame(ltp5['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp5.drop([0,1,2,3], axis = 0, inplace=True)
ltp5.reset_index(inplace = True)
ltp5.drop(['index'], axis = 1,inplace=True)

df5 = pd.concat([ltp5_4,ltp5_3,ltp5_2,ltp5_1, ltp5, ltp_pre], axis = 1)
df5.dropna(inplace=True)

In [ ]:
ltp6 = pd.read_csv('ltp6.csv')
ltp6.drop('Unnamed: 0', axis = 1,inplace=True)
ltp6.reset_index(inplace = True)
ltp6.drop(['index'], inplace = True, axis = 1)


ltp6_1 = pd.DataFrame(ltp6['ltp_now'])
ltp6_1.drop([0,1,2], axis = 0, inplace=True)
ltp6_1.reset_index(inplace = True)
ltp6_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp6_1.drop(['index'], axis = 1,inplace=True)

ltp6_2 = pd.DataFrame(ltp6['ltp_now'])
ltp6_2.drop([0,1], axis = 0, inplace=True)
ltp6_2.reset_index(inplace = True)
ltp6_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp6_2.drop(['index'], axis = 1,inplace=True)

ltp6_3 = pd.DataFrame(ltp6['ltp_now'])
ltp6_3.drop([0], axis = 0, inplace=True)
ltp6_3.reset_index(inplace = True)
ltp6_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp6_3.drop(['index'], axis = 1,inplace=True)

ltp6_4 = pd.DataFrame(ltp6['ltp_now'])
ltp6_4.reset_index(inplace = True)
ltp6_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp6_4.drop(['index'], axis = 1,inplace=True)


ltp_pre = pd.DataFrame(ltp6['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp6.drop([0,1,2,3], axis = 0, inplace=True)
ltp6.reset_index(inplace = True)
ltp6.drop(['index'], axis = 1,inplace=True)


df6 = pd.concat([ltp6_4,ltp6_3,ltp6_2,ltp6_1, ltp6, ltp_pre], axis = 1)
df6.dropna(inplace=True)

In [ ]:
ltp7 = pd.read_csv('ltp7.csv')
ltp7.drop('Unnamed: 0', axis = 1,inplace=True)
ltp7.reset_index(inplace = True)
ltp7.drop(['index'], inplace = True, axis = 1)


ltp7_1 = pd.DataFrame(ltp7['ltp_now'])
ltp7_1.drop([0,1,2], axis = 0, inplace=True)
ltp7_1.reset_index(inplace = True)
ltp7_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp7_1.drop(['index'], axis = 1,inplace=True)

ltp7_2 = pd.DataFrame(ltp7['ltp_now'])
ltp7_2.drop([0,1], axis = 0, inplace=True)
ltp7_2.reset_index(inplace = True)
ltp7_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp7_2.drop(['index'], axis = 1,inplace=True)

ltp7_3 = pd.DataFrame(ltp7['ltp_now'])
ltp7_3.drop([0], axis = 0, inplace=True)
ltp7_3.reset_index(inplace = True)
ltp7_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp7_3.drop(['index'], axis = 1,inplace=True)

ltp7_4 = pd.DataFrame(ltp7['ltp_now'])
ltp7_4.reset_index(inplace = True)
ltp7_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp7_4.drop(['index'], axis = 1,inplace=True)

ltp_pre = pd.DataFrame(ltp7['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp7.drop([0,1,2,3], axis = 0, inplace=True)
ltp7.reset_index(inplace = True)
ltp7.drop(['index'], axis = 1,inplace=True)

df7 = pd.concat([ltp7_4,ltp7_3,ltp7_2,ltp7_1, ltp7, ltp_pre], axis = 1)
df7.dropna(inplace=True)

In [ ]:
ltp8 = pd.read_csv('ltp8.csv')
ltp8.drop('Unnamed: 0', axis = 1,inplace=True)
ltp8.reset_index(inplace = True)
ltp8.drop(['index'], inplace = True, axis = 1)


ltp8_1 = pd.DataFrame(ltp8['ltp_now'])
ltp8_1.drop([0,1,2], axis = 0, inplace=True)
ltp8_1.reset_index(inplace = True)
ltp8_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp8_1.drop(['index'], axis = 1,inplace=True)

ltp8_2 = pd.DataFrame(ltp8['ltp_now'])
ltp8_2.drop([0,1], axis = 0, inplace=True)
ltp8_2.reset_index(inplace = True)
ltp8_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp8_2.drop(['index'], axis = 1,inplace=True)

ltp8_3 = pd.DataFrame(ltp8['ltp_now'])
ltp8_3.drop([0], axis = 0, inplace=True)
ltp8_3.reset_index(inplace = True)
ltp8_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp8_3.drop(['index'], axis = 1,inplace=True)

ltp8_4 = pd.DataFrame(ltp8['ltp_now'])
ltp8_4.reset_index(inplace = True)
ltp8_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp8_4.drop(['index'], axis = 1,inplace=True)

ltp_pre = pd.DataFrame(ltp8['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp8.drop([0,1,2,3], axis = 0, inplace=True)
ltp8.reset_index(inplace = True)
ltp8.drop(['index'], axis = 1,inplace=True)

df8= pd.concat([ltp8_4,ltp8_3,ltp8_2,ltp8_1, ltp8, ltp_pre], axis = 1)
df8.dropna(inplace=True)

In [ ]:
ltp9 = pd.read_csv('ltp9.csv')
ltp9.drop('Unnamed: 0', axis = 1,inplace=True)
ltp9.reset_index(inplace = True)
ltp9.drop(['index'], inplace = True, axis = 1)


ltp9_1 = pd.DataFrame(ltp9['ltp_now'])
ltp9_1.drop([0,1,2], axis = 0, inplace=True)
ltp9_1.reset_index(inplace = True)
ltp9_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp9_1.drop(['index'], axis = 1,inplace=True)

ltp9_2 = pd.DataFrame(ltp9['ltp_now'])
ltp9_2.drop([0,1], axis = 0, inplace=True)
ltp9_2.reset_index(inplace = True)
ltp9_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp9_2.drop(['index'], axis = 1,inplace=True)

ltp9_3 = pd.DataFrame(ltp9['ltp_now'])
ltp9_3.drop([0], axis = 0, inplace=True)
ltp9_3.reset_index(inplace = True)
ltp9_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp9_3.drop(['index'], axis = 1,inplace=True)

ltp9_4 = pd.DataFrame(ltp9['ltp_now'])
ltp9_4.reset_index(inplace = True)
ltp9_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp9_4.drop(['index'], axis = 1,inplace=True)

ltp_pre = pd.DataFrame(ltp9['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp9.drop([0,1,2,3], axis = 0, inplace=True)
ltp9.reset_index(inplace = True)
ltp9.drop(['index'], axis = 1,inplace=True)

df9= pd.concat([ltp9_4,ltp9_3,ltp9_2,ltp9_1, ltp9, ltp_pre], axis = 1)
df9.dropna(inplace=True)

In [ ]:
ltp10 = pd.read_csv('ltp10.csv')
ltp10.drop('Unnamed: 0', axis = 1,inplace=True)
ltp10.reset_index(inplace = True)
ltp10.drop(['index'], inplace = True, axis = 1)


ltp10_1 = pd.DataFrame(ltp10['ltp_now'])
ltp10_1.drop([0,1,2], axis = 0, inplace=True)
ltp10_1.reset_index(inplace = True)
ltp10_1.rename(columns={'ltp_now':'ltp--1'}, inplace=True)
ltp10_1.drop(['index'], axis = 1,inplace=True)

ltp10_2 = pd.DataFrame(ltp10['ltp_now'])
ltp10_2.drop([0,1], axis = 0, inplace=True)
ltp10_2.reset_index(inplace = True)
ltp10_2.rename(columns={'ltp_now':'ltp--2'}, inplace=True)
ltp10_2.drop(['index'], axis = 1,inplace=True)

ltp10_3 = pd.DataFrame(ltp10['ltp_now'])
ltp10_3.drop([0], axis = 0, inplace=True)
ltp10_3.reset_index(inplace = True)
ltp10_3.rename(columns={'ltp_now':'ltp--3'}, inplace=True)
ltp10_3.drop(['index'], axis = 1,inplace=True)

ltp10_4 = pd.DataFrame(ltp10['ltp_now'])
ltp10_4.reset_index(inplace = True)
ltp10_4.rename(columns={'ltp_now':'ltp--4'}, inplace=True)
ltp10_4.drop(['index'], axis = 1,inplace=True)

ltp_pre = pd.DataFrame(ltp10['bp'])
ltp_pre.drop([0,1,2,3,4], axis = 0, inplace=True)
ltp_pre.reset_index(inplace = True)
ltp_pre.rename(columns={'bp':'prediction'}, inplace=True)
ltp_pre.drop(['index'], axis = 1,inplace=True)

ltp10.drop([0,1,2,3], axis = 0, inplace=True)
ltp10.reset_index(inplace = True)
ltp10.drop(['index'], axis = 1,inplace=True)

df10 = pd.concat([ltp10_4,ltp10_3,ltp10_2,ltp10_1, ltp10, ltp_pre], axis = 1)
df10.dropna(inplace=True)

In [ ]:
df1.to_csv('thu_evening_111.csv', index=False)
df2.to_csv('thu_evening_222.csv', index=False)
df3.to_csv('thu_evening_333.csv', index=False)
df4.to_csv('thu_evening_444.csv', index=False)
df5.to_csv('thu_evening_555.csv', index=False)
df6.to_csv('thu_evening_666.csv', index=False)
df7.to_csv('thu_evening_777.csv', index=False)
df8.to_csv('thu_evening_888.csv', index=False)
df9.to_csv('thu_evening_999.csv', index=False)
df10.to_csv('thu_evening_101010.csv', index=False)

In [ ]:
df1

In [ ]:
df1.to_csv('thu_morning_1111.csv', index=False)
df2.to_csv('thu_morning_2222.csv', index=False)
df3.to_csv('thu_morning_3333.csv', index=False)
df4.to_csv('thu_morning_4444.csv', index=False)
df5.to_csv('thu_morning_5555.csv', index=False)
df6.to_csv('thu_morning_6666.csv', index=False)
df7.to_csv('thu_morning_7777.csv', index=False)
df8.to_csv('thu_morning_8888.csv', index=False)
df9.to_csv('thu_morning_9999.csv', index=False)
df10.to_csv('thu_morning_10101010.csv', index=False)

In [ ]:
dff = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]

In [ ]:
# df1= pd.read_csv('fri_morning_1.csv')

In [ ]:
dff

In [ ]:
data = pd.DataFrame(columns = ['price range','net sum(sell at next ltp)','profit in selling at next high +ve ltp','no of sl hits(-ve price gone)','loss by sl at 0.1','net profit by sl strategy','no of time +ve movement','no of time -ve movement','diff of +ve and -ve','total trades'])

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import ensemble
for d in dff:
    X= d.drop(['prediction','bp'],axis=1)
    Y=d['prediction']
    from sklearn.model_selection import train_test_split
    x_train, x_test,y_train,y_test=train_test_split(X,Y, test_size=0.3,random_state=450, shuffle=True)
#     from sklearn import ensemble
#     lm = ensemble.GradientBoostingRegressor()
#     lm.fit(x_test,y_test)
    from sklearn.linear_model import LinearRegression
    lm = LinearRegression()
    lm.fit(X,Y)
    predictions = lm.predict(x_test)
    df = pd.DataFrame()
    df['Actuals'] = y_test
    df['Pred'] = predictions
    df['MAPE'] = abs((df.Pred - df.Actuals) / df.Actuals) * 100
    df['Accuracy'] = 100 - df.MAPE
    df.Accuracy.mean()
    ay = pd.concat([x_test,y_test,df['Pred']], axis = 1)
    ay = ay.astype(float)
    ay['net'] = ay['prediction'] - ay['sp']
    
    #on which conditiob we have to enter in trade
    dfdf =pd.DataFrame( ay[(ay['Pred'] > ay['sp']+0.21)])
    print(dfdf.net.count())
    hee = pd.DataFrame(dfdf[dfdf['net']>0.2])
    q =hee.net.sum()
    hi = pd.DataFrame(dfdf[dfdf['net']<=0.2])
    p=hi['net'].count()*0.2
    dfdf['up_down'] = dfdf['net']>0
    dfdf = pd.get_dummies(dfdf, columns = ['up_down'])
#     dfdf['up_down_True'].sum()
#     dfdf['up_down_False'].sum()
#     dfdf['up_down_True'].sum() - dfdf['up_down_False'].sum()
    
    try:
        baba= dfdf['up_down_False']
    except:
        dfdf['up_down_False'] = 0
        
    try:
        babaaa= dfdf['up_down_True']
    except:
        dfdf['up_down_True'] = 0
    
    
    dat = pd.DataFrame([[str(ay['sp'].min())+'-'+str(ay['sp'].max()),dfdf.net.sum(),q,hi.net.count(),p,q-p,dfdf['up_down_True'].sum(),dfdf['up_down_False'].sum(),dfdf['up_down_True'].sum() - dfdf['up_down_False'].sum(),dfdf['up_down_True'].sum() + dfdf['up_down_False'].sum()]],columns = ['price range','net sum(sell at next ltp)','profit in selling at next high +ve ltp','no of sl hits(-ve price gone)','loss by sl at 0.1','net profit by sl strategy','no of time +ve movement','no of time -ve movement','diff of +ve and -ve','total trades'])
    data = pd.concat([data,dat],axis = 0)

In [ ]:
data.set_index([[i+1 for i in range(10)]],inplace=True)
data.to_csv('daily_report.csv')

In [ ]:
data

In [ ]:
dd = pd.read_csv('wed_morning_88.csv')

In [ ]:
dd

In [ ]:
# dd = dd[dd.index <=3000]

In [ ]:
X= df.drop(['aag','nr','index','volume2','vwap2'],axis=1)
Y=df['aag']

In [ ]:
# from sklearn.linear_model import LinearRegression
# lm = LinearRegression()
# lm.fit(X,Y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test=train_test_split(X,Y, test_size=0.3,random_state=2800, shuffle=True)
from sklearn import ensemble
lm = ensemble.GradientBoostingRegressor()
lm.fit(X,Y)

In [ ]:
x_test['prediction'] = lm.predict(x_test)

In [ ]:
dd = pd.concat([x_test,y_test],axis = 1)

In [ ]:
plt.scatter(dd.prediction,dd.aag)

In [ ]:
oo = pd.DataFrame(dd[dd['prediction']>dd['ltp']+10])

In [ ]:
oo.ltp.count()

In [ ]:
(oo['aag']-oo['prediction']).max()

In [ ]:
(oo['aag']-oo['prediction']).min()

In [ ]:
oo

In [ ]:
# from sklearn.model_selection import train_test_split
# # x_train, x_test,y_train,y_test=train_test_split(X,Y, test_size=0.3,random_state=450, shuffle=True)
from sklearn import ensemble
lm = ensemble.GradientBoostingRegressor()
lm.fit(X,Y)

In [ ]:
# x_test

In [ ]:
# coeff_df = pd.DataFrame(lm.coef_,X.columns,columns=['Coefficient'])
# coeff_df

In [ ]:
# x_test=pd.read_csv('fri_evening_1.csv')

In [ ]:
# x_test.drop(['bq/sq','prediction'],axis=1,inplace=True)

In [ ]:
df1=pd.read_csv('wed_evening_7.csv')

In [ ]:
df1

In [ ]:
# df1 = df1[df.index>3200]

In [ ]:
# df1 = df1[df1.index>6100]

In [ ]:
x_test = df1.drop(['prediction','bq/sq'],axis = 1)
y_test = df1['prediction']

In [ ]:
predictions = lm.predict(x_test)
plt.scatter(y_test,predictions)

In [ ]:
df = pd.DataFrame()
df['Actuals'] = y_test
df['Pred'] = predictions

In [ ]:
df['MAPE'] = abs((df.Pred - df.Actuals) / df.Actuals) * 100
df['Accuracy'] = 100 - df.MAPE

In [ ]:
df.Accuracy.mean()

In [ ]:
# x_test

In [ ]:
ay = pd.concat([x_test,y_test,df['Pred']], axis = 1)

In [ ]:
ay = ay.astype(float)

In [ ]:
ay['net'] = ay['prediction'] - ay['ltp_now']
ay

In [ ]:
# ay = ay[ay['sp']>ay['ltp_now']]

In [ ]:
ay

In [ ]:
dfdf =pd.DataFrame( ay[(ay['Pred'] > ay['ltp_now'])&(ay['ltp_now']>ay['ltp--1']*1.001)])

In [ ]:
dfdf

In [ ]:
dfdf.net.count()

In [ ]:
dfdf['net'].sum()

In [ ]:
hee = pd.DataFrame(dfdf[dfdf['net']>0])

In [ ]:
q =hee.net.sum()
q

In [ ]:
hi = pd.DataFrame(dfdf[dfdf['net']<0])

In [ ]:
hi['net'].count()

In [ ]:
p=hi['net'].count()*0.1
p

In [ ]:
q-p

In [ ]:
dfdf['up_down'] = dfdf['net']>0

In [ ]:
dfdf = pd.get_dummies(dfdf, columns = ['up_down'])

In [ ]:
dfdf['up_down_True'].sum()

In [ ]:
dfdf['up_down_False'].sum()

In [ ]:
dfdf['up_down_True'].sum() - dfdf['up_down_False'].sum()

In [ ]:
dfdf[dfdf['net']>=0.05]

In [ ]:
dfdf[dfdf['up_down_True']==1]['net'].mean()

In [ ]:
df[(df['Actuals'] - df['Pred']) <=-0.05]

In [ ]:
import math as m
e = m.e

In [ ]:
# df = pd.read_csv('fri_evening_11.csv')

In [ ]:
df = df6.copy()

In [ ]:
df['base'] = df['ltp--4']/1.01

In [ ]:
df = df[(df['ltp--3']>=df['base']*1.01*1.01)]

In [ ]:
df['net'] = df['prediction']-df['ltp--3']

In [ ]:
df.net.sum()

In [ ]:
df = pd.read_csv('thu_evening_1.csv')

In [ ]:
df = pd.DataFrame(df['ltp--4'])

In [ ]:
df.rename(columns= {'ltp--4':'20'},inplace = True)

In [ ]:
a=list()

In [ ]:
for i in range(20):
    ll = range(i+1)
    a.append(df.drop(ll,axis = 0))
    a[i].reset_index(inplace = True)
    a[i].rename(columns = {'20':str(19-i)}, inplace = True)
    a[i].drop(['index'],axis = 1, inplace = True)

In [ ]:
for i in range(20):
    df = pd.concat([df,a[i]],axis = 1)
df.dropna(inplace = True)

In [ ]:
df['hurst4'] = 0
df['hurst7'] = 0
df['hurst11'] = 0
df['hurst15'] = 0

In [ ]:

def get_hurst_exponent(time_series, max_lag):
    """Returns the Hurst Exponent of the time series"""
    
    lags = range(2, max_lag)

    # variances of the lagged differences
    tau = [np.std(np.subtract(time_series[lag:], time_series[:-lag])) for lag in lags]

    # calculate the slope of the log plot -> the Hurst Exponent
    reg = np.polyfit(np.log(lags), np.log(tau), 1)

    return reg[0]

In [ ]:
df

In [ ]:
r = df['10'].count()

In [ ]:
for i in range(r):
    time_series = np.array(df.loc[i].copy())
    df['hurst4'][i] = get_hurst_exponent(time_series,4)
    df['hurst7'][i] = get_hurst_exponent(time_series,7)
    df['hurst11'][i] = get_hurst_exponent(time_series,11)
    df['hurst15'][i] = get_hurst_exponent(time_series,15)

In [ ]:
df

In [ ]:
df[df['hurst4']>=0.2]

In [ ]:
z

In [ ]:
df = pd.read_csv('wed_morning_33.csv')

In [ ]:
df

In [ ]:
df['net'] = df['prediction'] - df['ltp_now']

In [ ]:
aa = df[(df['ltp_now']>df['ltp--1']*1.001)&(df['ltp--1']>df['ltp--2']*1.001)&(df['ltp--2']>df['ltp--3']*1.001)&(df['ltp--3']>df['ltp--4']*1.001)]

In [ ]:
aa

In [ ]:
aa.net.count()

In [ ]:
slc = aa[aa.net<0].net.count()

In [ ]:
tar = aa[aa.net>0].net.sum()

In [ ]:
slc

In [ ]:
sl = slc*0.1
sl

In [ ]:
tar

In [ ]:
tar - sl

In [ ]:
df = pd.read_csv('fri_morning_1.csv')

In [ ]:
X_train = df.drop(['bq/sq'], axis = 1)

In [ ]:
Y_train = df['prediction']

In [ ]:
X_train.shape[2]

In [ ]:
df = df.dro

In [ ]:
df = df.values

In [ ]:
df.drop(['bq/sq'],axis = 1,inplace = True)

In [ ]:
df

In [ ]:
import datetime
import os
import shutil

import numpy as np
import pandas as pd
import tensorflow as tf
# from google.cloud import aiplatform
from matplotlib import pyplot as plt
from tensorflow import keras
from tensorflow.keras.callbacks import TensorBoard
from tensorflow.keras.layers import Dense, DenseFeatures
from tensorflow.keras.models import Sequential

print(tf.__version__)

In [ ]:
CSV_COLUMNS = [
    'ltp--4', 'ltp--3', 'ltp--2', 'ltp--1', 'ltp_now', 'prediction',

]
LABEL_COLUMN = "prediction"
DEFAULTS = [[0.0], [0.0], [0.0], [0.0], [0.0], [0.0]]
# UNWANTED_COLS = ["pickup_datetime", "key"]


def features_and_labels(row_data):
    label = row_data.pop(LABEL_COLUMN)
    features = row_data

#     for unwanted_col in UNWANTED_COLS:
#         features.pop(unwanted_col)

    return features, label


def create_dataset(pattern, batch_size=1, mode="eval"):
    dataset = tf.data.experimental.make_csv_dataset(
        pattern, batch_size, CSV_COLUMNS, DEFAULTS
    )

    dataset = dataset.map(features_and_labels)

    if mode == "train":
        dataset = dataset.shuffle(buffer_size=1000).repeat()

    # take advantage of multi-threading; 1=AUTOTUNE
    dataset = dataset.prefetch(1)
    return dataset

In [ ]:
INPUT_COLS = [
    'ltp--4', 'ltp--3', 'ltp--2', 'ltp--1', 'ltp_now'
]

# Create input layer of feature columns

# TODO 1
feature_columns = {
    colname: tf.feature_column.numeric_column(colname) for colname in INPUT_COLS
}

In [ ]:
feature_columns

In [ ]:
# Build a keras DNN model using Sequential API

# TODO 2a
model = Sequential(
    [
        DenseFeatures(feature_columns=feature_columns.values()),
        Dense(units=32, activation="relu", name="h1"),
        Dense(units=8, activation="relu", name="h2"),
        Dense(units=1, activation="linear", name="output"),
    ]
)

In [ ]:
# TODO 2b
# Create a custom evalution metric
def rmse(y_true, y_pred):
    return tf.sqrt(tf.reduce_mean(tf.square(y_pred - y_true)))


# Compile the keras model
model.compile(optimizer="adam", loss="mse", metrics=[rmse, "mse"])

In [ ]:
TRAIN_BATCH_SIZE = 1000
NUM_TRAIN_EXAMPLES = 10000 * 5  # training dataset will repeat, wrap around
NUM_EVALS = 50  # how many times to evaluate
NUM_EVAL_EXAMPLES = 10000  # enough to get a reasonable sample

trainds = create_dataset(
    pattern='fri_evening_1.csv', batch_size=TRAIN_BATCH_SIZE, mode="train"
)

evalds = create_dataset(
    pattern='fri_evening_1.csv', batch_size=1000, mode="eval"
).take(NUM_EVAL_EXAMPLES // 1000)

In [ ]:
trainds

In [ ]:
# TODO 3
%time
steps_per_epoch = NUM_TRAIN_EXAMPLES // (TRAIN_BATCH_SIZE * NUM_EVALS)

LOGDIR = "./taxi_trained"
history = model.fit(
    x=trainds,
    steps_per_epoch=steps_per_epoch,
    epochs=NUM_EVALS,
    validation_data=evalds,
    callbacks=[TensorBoard(LOGDIR)],
)

In [ ]:
?model.fit

In [ ]:
?tf.data.experimental.make_csv_dataset

In [ ]:
def create_dataset(pattern, batch_size=1, mode="eval"):
    dataset = tf.data.experimental.make_csv_dataset(
        pattern, batch_size, CSV_COLUMNS, DEFAULTS
    )

#     dataset = dataset.map(features_and_labels)

    if mode == "train":
        dataset = dataset.shuffle(buffer_size=1000).repeat()

    # take advantage of multi-threading; 1=AUTOTUNE
    dataset = dataset.prefetch(1)
    return dataset

In [ ]:
trainds = create_dataset(
    pattern='fri_morning_11.csv', batch_size=100, mode="train"
)

In [ ]:
tf.data.Dataset.prefetch(trainds)

In [ ]:
# from api_helper import ShoonyaApiPy
import logging
import time
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-darkgrid')

# Model testing of cross and pred and 1:2 target

In [ ]:
d = pd.read_csv('thu_evening_7.csv')

In [ ]:
d

In [ ]:
x = d.drop(['bq/sq','prediction'], axis = 1)

In [ ]:
y = d['prediction']

In [ ]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(x,y)

In [ ]:
df1 = pd.read_csv('thu_evening_444.csv')

In [ ]:
df1

In [ ]:
df11 = df1.drop(['bp','sp','prediction'], axis = 1)

In [ ]:
pred = lm.predict(df11)

In [ ]:
df1['Pred'] = pred

In [ ]:
df1['rolling_mean'] = df1['ltp_now'].rolling(21).mean()

In [ ]:
df1.dropna(inplace  =True)

In [ ]:
rl = pd.DataFrame(df1['rolling_mean'])

In [ ]:
rl.index = rl.index+1

In [ ]:
rl.rename(columns = {'rolling_mean':'pre_mean'}, inplace = True)

In [ ]:
df1 = pd.concat([df1,rl], axis = 1)

In [ ]:
df1.dropna(inplace = True)

In [ ]:
vi = df1.index.max()

In [ ]:
df1

In [ ]:
buy_sep = pd.DataFrame(df1[(df1['Pred']>df1['sp']+0.21)&(df1['pre_mean']<df1['bp'])&(df1['pre_mean']>df1['ltp--1'])])

In [ ]:
num=buy_sep.bp.count()

In [ ]:
buy_sep['selll'] = 0
buy_sep['inn'] = buy_sep.index

In [ ]:
my_tar = 2
my_sl = 1

In [ ]:
for i in range(num):
   
    b = buy_sep.iloc[i]['ltp_now']
    p = ind = buy_sep.iloc[i].inn
    while(True):
        if(df1.loc[p]['bp']>=b+my_tar):
            buy_sep['selll'][ind] = 'target'
            break
        elif(df1.loc[p]['bp']<=b-my_sl):
            buy_sep['selll'][ind] = 'sl'
            break
        elif(p==vi):
            buy_sep['selll'][ind] = df1.loc[vi]['bp']-b
            break
            
        p = p+1

In [ ]:
buy_sep

In [ ]:
cst = buy_sep[(buy_sep['selll']!='sl')&(buy_sep['selll']!='target')].selll.sum()

In [ ]:
brk = 14

In [ ]:
pnl = (buy_sep[buy_sep.selll=='target'].selll.count()*my_tar - buy_sep[buy_sep.selll=='sl'].selll.count()*my_sl+cst)*50 - brk *num

In [ ]:
pnl

In [ ]:
num

# NEW MODEL TESTING

In [ ]:
# from api_helper import ShoonyaApiPy
import logging
import time
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-darkgrid')

In [ ]:
d1 = pd.read_csv('mon_morning_333.csv')

In [ ]:
d1

In [ ]:
d1['move'] = (d1['prediction']>d1['ltp_now'])

In [ ]:
d1['move'].value_counts()

In [ ]:
X = d1.drop(['bp','sp','prediction','move'],axis = 1)
Y = d1['move']

In [ ]:
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression()
lm.fit(X,Y)

In [ ]:
df = pd.read_csv('mon_morning_444.csv')

In [ ]:
df

In [ ]:
x_test = df.drop(['bp','sp','prediction'],axis = 1)
pre = lm.predict(x_test)

In [ ]:
df['pred'] = pre

In [ ]:
type(df['pred'][0])

In [ ]:
df

In [ ]:
df['mean_100'] = df['ltp--2'].rolling(21).mean()

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df.drop(['index'], axis = 1, inplace = True)

In [ ]:
df = df.astype(float)

In [ ]:
dd = pd.DataFrame(df[(df['ltp_now']<df['mean_100'])&(df['pred']==True)])

In [ ]:
dd['index'] = dd.index

In [ ]:
dd['trade'] = 0
dd['hitting_index'] = 'i'

In [ ]:
t = 2
s =1

In [ ]:
mx = df.index.max()

In [ ]:
dd['index'].count()

In [ ]:
w = i=dd.iloc[0]['index']

while(True):
#     print(i)
    
    while(True):
        if(df['bp'][i]>=dd['ltp_now'][w]+t):
            dd['trade'][w] = 'target'
            dd['hitting_index'][w] = i
            break
        elif(df['bp'][i]<=dd['ltp_now'][w]-s):
            dd['trade'][w]='sl'
            dd['hitting_index'][w] = i
            break
        elif(i>=mx-10):
            dd['trade'][w] = 'open'
            dd['hitting_index'][w] = i
            break
        else:
            i=i+1

    if(i>=mx-10):
        break
    d = pd.DataFrame(dd[dd.index>i])
    if(d['index'].count()==0):
        break

    w = i = d.iloc[0]['index']

In [ ]:
tar = dd[dd['trade']=='target']['ltp_now'].count()
tar

In [ ]:
sl = dd[dd['trade']=='sl']['ltp_now'].count()
sl

In [ ]:
m = dd['ltp_now'].max()
m

In [ ]:
brk = 15

In [ ]:
pnl = (tar*t-sl*s)*50 - (tar + sl + 1)*brk

In [ ]:
pnl

In [ ]:
(tar*t-sl*s)*50

# Let's Do It

In [ ]:
df = pd.read_csv('tue_data_all_pe.csv')

In [ ]:
df.drop('Unnamed: 0', axis = 1,inplace = True)

In [ ]:
aa = pd.DataFrame(df['ltp'])

In [ ]:
ll =list(range(100))

In [ ]:
aa.drop(ll, axis = 0,inplace = True)

In [ ]:
aa.rename(columns = {'ltp':'aag'},inplace = True)

In [ ]:
aa.reset_index(inplace = True)
# aa.drop(['index'],inplace = True, axis = 1)

In [ ]:
df = pd.concat([df,aa], axis = 1)

In [ ]:
df.dropna(inplace = True)

In [ ]:
df

In [ ]:
df['volume']  = df.volume/ 10000000
# df.vwap = df.vwap/ df.vwap.max()
# df.ltp = df.ltp/df.ltp.max()
# df.aag = df.aag/df.aag.max()

In [ ]:
df['vwap2'] = df['vwap'] * df['vwap']

In [ ]:
df['volume2'] = df.volume * df.volume

In [ ]:
df['vv'] = df.volume * df.vwap

In [ ]:
df.vwap2 = df.vwap2 / 100

In [ ]:
df

In [ ]:
# df['pe_ltp'] = df['pe_ltp']/ltp_max
df['volume'] = df['volume']/vv

In [ ]:
df

In [ ]:
df['hi'] = np.exp(df['vwap']) * ((df['volume']))

In [ ]:
df['hi'] = df['hi']/(df.hi.max())

In [ ]:
df['ltp'] = df['ltp']/(df['ltp'].max())

In [ ]:
df

In [ ]:
plt.scatter(df['vwap'], df['aag'])

In [263]:
import pandas as pd
import numpy as np

In [264]:
d = pd.read_csv('tue_evening_333.csv')

In [246]:
d = d/200

In [265]:
d['b']= 1

In [266]:
d['f'] = (d['prediction'] -d['ltp--4'])

In [267]:
def sign(x):
    if(x>0):
        return 1
    else:
        return -1

In [268]:
d['f'] = d['f'].apply(sign)

In [269]:
d

,ltp--4,ltp--3,ltp--2,ltp--1,ltp_now,bp,sp,prediction,b,f
0,144.95,145.20,145.05,145.00,145.25,145.05,145.25,145.05,1,1
1,145.20,145.05,145.00,145.25,145.20,145.05,145.35,145.05,1,-1
2,145.05,145.00,145.25,145.20,145.30,145.05,145.35,144.70,1,-1
3,145.00,145.25,145.20,145.30,145.05,144.70,145.00,144.70,1,-1
4,145.25,145.20,145.30,145.05,144.65,144.70,145.00,145.20,1,-1
...,...,...,...,...,...,...,...,...,...,...
1669,141.05,141.00,140.90,142.00,141.95,141.95,142.00,140.95,1,-1
1670,141.00,140.90,142.00,141.95,142.00,140.95,142.00,141.00,1,-1
1671,140.90,142.00,141.95,142.00,141.00,141.00,142.00,141.00,1,1
1672,142.00,141.95,142.00,141.00,142.00,141.00,142.00,141.00,1,-1
1673,141.95,142.00,141.00,142.00,141.00,141.00,142.00,141.00,1,-1

In [270]:
X = d.drop(['prediction', 'f'], axis = 1)

In [271]:
Y= d['f']

In [272]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test=train_test_split(X,Y, test_size=0.3,random_state=450, shuffle=True)

In [273]:
x_train

      ltp--4  ltp--3  ltp--2  ltp--1  ltp_now      bp      sp  b
1636  141.80  141.15  141.05  141.20   141.40  141.05  141.40  1
973   144.15  143.95  143.90  143.50   143.85  143.55  143.85  1
1611  141.30  141.50  141.00  140.95   140.90  140.95  141.35  1
1009  144.45  144.95  144.40  144.10   144.40  144.05  144.30  1
1269  140.70  140.80  140.55  140.50   140.35  140.45  140.75  1
...      ...     ...     ...     ...      ...     ...     ... ..
1322  138.90  139.55  139.20  139.25   139.35  138.90  139.20  1
462   141.55  141.90  141.65  142.30   141.70  142.00  142.25  1
1326  139.35  139.25  139.70  139.10   139.25  138.95  139.20  1
1637  141.15  141.05  141.20  141.40   140.95  141.05  141.40  1
1599  141.90  141.45  141.40  141.20   141.65  141.25  141.70  1

[1171 rows x 8 columns]

In [274]:
y_train

1636   -1
973    -1
1611   -1
1009   -1
1269   -1
       ..
1322   -1
462    -1
1326   -1
1637   -1
1599   -1
Name: f, Length: 1171, dtype: int64

In [275]:
w = [0,0,0,0,0,0,0,0]
n = len(x_train['sp'])

In [276]:
y_train

1636   -1
973    -1
1611   -1
1009   -1
1269   -1
       ..
1322   -1
462    -1
1326   -1
1637   -1
1599   -1
Name: f, Length: 1171, dtype: int64

In [277]:
n

1171

In [278]:
type(d['sp'][0])

numpy.float64

In [279]:
while(True):
    #print('while')
    for i in range(10):
        #print('for')
        xi = np.array(x_train.iloc[i])
        wxi = np.dot(xi,w)
        yi = y_train.iloc[i]
        net = yi*wxi
        #print(net)
        if(net<=0):
            #print('in_if')
            #print(xi)
            #print(yi)
            xiyi = xi*yi
            #print(xiyi)
            ##print(w)
            
            arr = np.array([w,xiyi])
            arr = arr.sum(axis = 0)
            w = arr
            xyz = abs(w)
            w = w/xyz.max()
    
            #print(w)
            found = True
            break
        else:
            found = False
            
    if(found==False):
        break

KeyboardInterrupt:

In [280]:
xi

array([141.8 , 141.15, 141.05, 141.2 , 141.4 , 141.05, 141.4 ,   1.  ])

In [281]:
w

array([0.99304287, 0.99238115, 0.99412044, 0.99619427, 1.        ,
       0.99446731, 0.99618442, 0.00688815])

In [39]:
type(y_train.iloc[5])

numpy.float64

In [282]:
w

array([0.99304287, 0.99238115, 0.99412044, 0.99619427, 1.        ,
       0.99446731, 0.99618442, 0.00688815])

In [120]:
a = abs(w)

In [122]:
a.max()

106.35000000000001

In [96]:
w = w+xiyi

In [97]:
w

array([35.45  , 35.2875, 35.2625, 35.3   , 35.35  , 35.2625, 35.35  ,
        0.25  ])

In [70]:
xi = np.array(x_train.iloc[0])

In [78]:
xi*yi

array([-106.35  , -105.8625, -105.7875, -105.9   , -106.05  , -105.7875,
       -106.05  ,   -0.75  ])

In [80]:
w=w+xi*yi

In [81]:
w

array([-106.35  , -105.8625, -105.7875, -105.9   , -106.05  , -105.7875,
       -106.05  ,   -0.75  ])

In [71]:
wxi = np.dot(xi,w)

In [73]:
wxi

139747.1275

In [74]:
yi = y_train.iloc[0]

In [75]:
yi

-0.75

In [ ]:
net = yi*wxi

In [57]:
a=-0.0

In [60]:
a<0

True

In [36]:
for i in range(5):
    print(i)
    if(i==2):
        print('i==2')
        break

0
1
2
i==2

In [21]:
xi = np.array(x_train.iloc[0])
wxi = np.dot(xi,w)
yi = y_train.iloc[6]
net = yi*wxi

In [22]:
net

89438.1615999962

In [19]:
w = w+xi*yi

In [20]:
w

array([-113.44, -112.92, -112.84, -112.96, -113.12, -112.84, -113.12,
         -0.8 ])